/* main page*/
h2{
text-decoration: underline;
}
*{
text-decoration: underline;
}
.div{
font-weight: 200px;
height: 200 px;
}

/* Login page */

body.login{
	background-image: url(photo/zajac_1.jpg);
	background-size: cover;
}
.container{
	width: 550px;
	height: 140px;
	text-align: center;
	background-color: rgba(54,94,11,0.6);
	border-radius: 114px;
	margin: 0 auto;
margin-top: 40px;

}
input {
	height: 35px;
	width: 250px;
	font-size: 18px;
	margin-bottom: 5px;
	padding-left: 20px;
	font-family: cursive;
}